* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

table {
  background-color: white;
  align-items: center;
  table-layout: fixed;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  font-size: xx-large;
}

.search {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 290px; /* Adjusted to limit maximum width */
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #1c2542;
}

/* Footer */
footer table {
  background-color: black;
  width: 100%;
  align-items: center;
  border: 2px solid white;
}

footer {
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  color: violet;
}

/* Grid Hover Effect */
#grid:hover {
  color: white;
}

img {
  width: 100%;
  cursor: pointer;
}

del {
  color: gray;
}

table img:hover {
  box-shadow: 0 0 10px;
}

.kolomborder {
  border: 1px solid #ebd3eb;
  text-align: center;
  background-color: #ebd3eb;
  border-radius: 12px;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    font-size: large; /* Adjust font size for smaller screens */
  }

  .search {
    width: 100%;
    max-width: none; /* Remove max-width restriction on small screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px 10px; /* Adjust padding for very small screens */
  }

  nav a {
    font-size: medium; /* Further adjust font size for very small screens */
  }

  .search {
    height: 35px; /* Adjust height for very small screens */
  }
}
